@import 'rupture'

@import 'reset'
@import 'typography'
@import 'colors'

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button
	opacity: 0
	pointer-events: none
	width: 5px
	
@keyframes marquee-left
	0%
		transform: translateX(25%)
	100%
		transform: translateX(-25%)
	
@keyframes marquee-right
	0%
		transform: translateX(-25%)
	100%
		transform: translateX(25%)
		
@keyframes marquee
	0%
		transform: translateX(0)
	100%
		transform: translateX(-100%)

body, html
	width: 100%
	background: darkgrey
	font-weight: 300
	color: white
	font-size: 18px
	font-family: UniversBold
	line-height: 1.35

section
	width: 100%
	height: 100vh
	position: relative

.menu-top
	position: fixed
	top: 2rem
	left: 10%
	display: flex
	justify-content: flex-end
	align-items: center
	width: 80%
	z-index: 500
	padding-top: 1rem
	opacity: 0
	
	.logos
		height: 10vh
		display: flex
		justify-content: center
		align-items: flex-start
		
		img
			height: 100%

			& + img
				margin-left: 30%
			
.menu-bottom
	position: fixed
	bottom: 1rem
	left: 10%
	display: flex
	justify-content: space-between
	align-items: flex-end
	width: 80%
	z-index: 500
	padding: 1rem
	opacity: 0

	a
		text-decoration: none
		color: white
		font-size: 1rem
		text-transform: uppercase
		letter-spacing: 0.1em

		svg
			display: inline-block
			width: 1.2rem
		
		&.scroll
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			
			svg
				display: block
				padding-bottom: 0.5em
				width: 0.8rem

.logo-wrapper
	width: 80%
	left: 10%
	position: fixed
	z-index: 500
	top: 32%

	svg
		width: 100%
		min-width: 8rem

#loading
	.title-wrapper
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
	
		#intro-text
			font-family: UniversLight
			font-size: 1.25rem
			width: 80%
			max-width: 40rem
			text-align: center
			padding-top: 35vh
			opacity: 0
			
			div
				display: inline-block
				opacity: 0
				
				&.space
					width: 0.3em

#intro
	background: black

	#intro-video
		height: 100%
		width: 100%
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		display: none
	
	#progress-wrapper
		position: absolute
		z-index: 100
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		padding-top: 20%
		
		#progress-bar
			height: 1.25rem
			width: 40%
			border: 3px solid white
			position: relative
			display: flex
			justify-content: center
			align-items: center
			
			img
				width: 90%
				z-index: 10
			
			#progress-indicator
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				overflow: hidden
				z-index: 1
				
				#progress
					position: absolute
					left: 0
					top: 0
					width: 0%
					height: 100%
					background: white
		
		#cta-holder
			display: flex
			justify-content: space-between
			align-items: flex-end
			padding-bottom: 1rem
			width: 40%

			img
				width: 50%

			#cta
				margin-top: 1rem
				font-size: 0.8rem
				letter-spacing: 0.1em
				text-transform: uppercase
				padding-bottom: 1.8%

.centred-image
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.bg-type
	display: flex
	flex-direction: column
	position: absolute
	width: 100%
	left: 0

	.type-band		
		margin: 0.25rem 0
		overflow: hidden
		position: relative
		white-space: nowrap

		.type
			height: 100%
			background-repeat: repeat-x
			background-size: auto 100%
			width: 500%
			left: -250%
			position: absolute
			animation: marquee-left 30s linear infinite alternate
			
		&:nth-child(odd)
			.type
				animation: marquee-right 30s linear infinite alternate

		&:nth-child(1)
			.type
				background-position: 20% 0
			
		&:nth-child(2)
			.type
				background-position: 50% 0
		
		&:nth-child(3)
			.type
				background-position: 10% 0
				
		&:nth-child(4)
			.type
				background-position: 30% 0


#everybody-welcome
	.bg-type
		height: 70%
		top: 20%
		
		.type-band
			height: 25%
	
			.type
				background: url('/assets/images/everybody-welcome.svg')
	
#no-caps-wrap
	background: grey

	.strike
		top: 55%

	svg
		width: 50%

		path
			fill: black
	
	.one
		img
			left: 25%
			top: 8%
			width: 17%
	
	.two
		img
			left: 2%
			top: 0
			width: 20%
			
	.three
		img
			left: 1%
			top: 40%
			width: 20%
			
	.four
		img
			right: 5%
			top: 10%
			width: 22%
	
	.five
		img
			right: 20%
			top: 25%
			width: 18%
	
	.six
		img
			left: 40%
			top: 50%
			width: 20%
	
	.strike
		background: black

#no-trainers-wrap		
	svg
		width: 60%
		
		path
			fill: white
			
	.one
		img
			left: 25%
			top: 8%
			width: 17%
	
	.two
		img
			left: 2%
			top: 0
			width: 20%
			
	.three
		img
			left: 1%
			top: 40%
			width: 20%
			
	.four
		img
			right: 5%
			top: 10%
			width: 22%
	
	.five
		img
			right: 20%
			top: 25%
			width: 18%
	
	.six
		img
			left: 40%
			top: 50%
			width: 20%
	
	.strike
		background: white

.section-wrap
	position: relative
	height: 400vh
	overflow: hidden
	
	.svg-wrap
		z-index: 100
		top: 0
		left: 0
		display: flex
		
		svg
			max-width: 100%
			margin: auto
			
		.strike
			height: 2vw
			position: absolute
			width: 60%
			left: 20%
			top: 53%

	.image-stack
		z-index: 120
		width: 100%
		height: 100vh
		transform: translateY(100%)
		position: fixed
		top: 0
		left: 0
		overflow: hidden
		
		img
			width: 30%
			position: absolute
		
#shop-now
	.bg-type
		height: 50%
		top: 20%
		
		.type-band
			height: 50%
	
			.type
				background: url('/assets/images/shop-now-combo.svg')

	.ticker
		color: white
		overflow: hidden
		position: absolute
		bottom: 10%
		left: 0
		width: 100%

		.ticker-text
			padding-left: 100%
			width: auto
			animation: marquee 30s linear infinite
			white-space: nowrap
			display: inline-block
			font-family: Druk
			font-size: 10vh
			text-transform: uppercase
		