@import 'rupture'

@import 'reset'
@import 'typography'
@import 'colors'

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button
	opacity: 0
	pointer-events: none
	width: 5px
		
@keyframes marquee
	0%
		transform: translateX(0)
	100%
		transform: translateX(-100%)

body, html
	width: 100%
	background: darkgrey
	font-weight: 300
	color: white
	font-size: 18px
	font-family: UniversBold
	line-height: 1.35
	user-select: none
	
	&.no-scroll
		overflow: hidden
		height: 100vh

section
	width: 100%
	height: 100vh
	position: relative

+below(700px)
	.mobile-hide
		display: none !important

.menu-top
	position: fixed
	top: 5%
	left: 10%
	display: flex
	justify-content: flex-end
	align-items: center
	width: 80%
	z-index: 500
	opacity: 0
	transform: translateY(-100%)
	
	+below(700px)
		width: 90%
		left: 5%
	
	.logos
		height: 10vh
		display: flex
		justify-content: center
		align-items: flex-start
		
		img
			height: 100%
			padding-left: 10%
	
.menu-bottom
	position: fixed
	bottom: 1rem
	left: 10%
	width: 80%
	z-index: 500
	padding-bottom: 1rem
	opacity: 0
	display: flex
	transform: translateY(100%)
		
	.left
		display: flex
		justify-content: space-between
		align-items: flex-end
		width: 100%
		
		a, div
			text-decoration: none
			color: white
			text-transform: uppercase
			letter-spacing: 0.1em
			text-align: center
			width: 33%
			font-size: 0.9rem

			svg
				display: inline-block
				width: 1.2em
			
			&.scroll
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				
				svg
					display: block
					padding-bottom: 0.5em
					width: 0.8rem
					
		#toggle-sound
			#sound-icon
				width: 2em
				height: 0.75em
				display: inline-block
				padding-left: 0.4rem
				
				.wrap
					display: flex
					width: 100%
					height: 100%
					align-items: flex-end
				
					div
						height: 80%
						background: white
						width: 100%
						margin-right: 3px
	
	.right
		width: 100%
		display: none
		text-align: right
		justify-content: space-between
		align-items: flex-end
		
		.music-credit
			font-family: Helvetica
			font-size: 0.6rem
			text-transform: none
			width: 50%
			text-align: center
			padding: 0 0.5rem
		
		#watch-film
			width: 100%
			text-transform: uppercase
			letter-spacing: 0.1em
			font-family: Helvetica, sans-serif
			font-size: 0.75rem
			
	.left.bottom
		display: none

		.socials
			display: flex
			justify-content: flex-start
			align-items: flex-end

			.share
				margin-right: 0.5rem

			a
				margin: 0 0.5rem
				width: auto

			svg
				height: 1.25rem

		.music-credit
			font-family: Helvetica
			font-size: 0.8rem
			text-transform: none

		.top
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			
			svg
				display: block
				padding-top: 0.5em
				width: 0.8rem
				transform: rotateZ(180deg)
	
	&.bottom
		.left
			display: none
			
		.left.bottom
			display: flex
			
	+below(700px)
		width: 90%
		left: 5%
		padding-bottom: 0
		font-size: 0.8rem
		
		.left
			width: auto

		.right
			display: flex

			.music-credit
				display: none

		&.bottom
			.left
				display: flex
				
				#shop-link
					display: none

			.left.bottom
				display: none
			
			.music-credit
				display: block

#smoke-screen
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 130
	background: darkgrey

#video-overlay
	position: fixed
	transform: translateY(100%)
	top: 0
	left: 0
	background: black
	z-index: 1000
	overflow: hidden
	
	#close-video
		position: absolute
		right: 1rem
		top: 1rem
		font-size: 1.5rem
	
	.video-embed
		position: absolute
		left: 0
		top: 50%
		width: 100%
		transform: translateY(-50%)
		
		.embed-container
			position: relative
			padding-bottom: 56.25%
			height: 0
			overflow: hidden
			max-width: 100%
			height: auto

		.embed-container iframe, .embed-container object, .embed-container embed
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%


.logo-wrapper
	width: 80%
	left: 10%
	position: fixed
	z-index: 500
	top: 40%
	
	+below(700px)
		left: 5%
		width: 90%

	svg
		width: 100%
		min-width: 8rem

#intro
	background: black

	.video-wrapper
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		overflow: hidden
		
	#intro-video
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		min-height: 100%
		min-width: 100%
		width: auto
		height: auto
		opacity: 0
	
	#progress-wrapper
		position: absolute
		z-index: 100
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		padding-top: 10%
		
		#cta-wrapper
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			width: 40%
			user-select: none

			svg
				width: 100%
				margin-bottom: 5%
		
			#progress-bar
				height: 1.25rem
				width: 85%
				border: 3px solid white
				position: relative

				#progress-indicator
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					overflow: hidden
					z-index: 1
					
					#progress
						position: absolute
						left: 0
						top: 0
						width: 0%
						height: 100%
						background: white
			
			#cta
				margin-top: 0.5rem
				font-size: 1rem
				letter-spacing: 0.1em
				text-transform: uppercase
				padding-bottom: 1.8%
				width: 85%
				display: flex
				justify-content: space-between
				user-select: none
				
			+below(800px)
				width: 80%
				
				#cta, #progress-bar
					width: 100%
					
				#cta
					font-size: 0.8rem
					
				#progress-bar
					height: 1rem
					border: 2px solid white

.centred-image
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.bg-type
	display: flex
	flex-direction: column
	position: absolute
	width: 100%
	left: 0

	.type-band		
		margin: 0.25rem 0
		overflow: hidden
		position: relative
		white-space: nowrap

		.type
			height: 100%
			background-repeat: repeat-x
			background-size: auto 100%
			width: 300%
			position: absolute
			
		&:nth-child(1)
			.type
				background-position: 20% 0
				left: 0
			
		&:nth-child(2)
			.type
				background-position: 50% 0
				left: -200%
		
		&:nth-child(3)
			.type
				background-position: 45% 0
				left: 0

#enter-the-archives
	.blurb
		position: absolute
		z-index: 100
		width: 80%
		font-size: 5vw
		line-height: 1
		letter-spacing: 0.025em
		text-transform: uppercase
		background: darkgrey
		text-align: center
		top: 55%
		left: 10%
		transform: translateY(-50%)
		padding: 4vw
		font-family: Druk
		
		+below(700px)
			width: 90%
			left: 5%
			font-size: 1.25rem
			padding: 2rem
			line-height: 1.2
			letter-spacing: 0.1em

	.bg-type
		height: 70%
		top: 20%
		
		.type-band
			height: 33%
	
			.type
				background-image: url('/assets/images/enter-the-archives.svg')
	
#no-caps-wrap
	background: grey
	
	.one
		img
			left: 25%
			top: 8%
			width: 17%
			
			+below(700px)
				top: 4%
				left: 30%
				width: 55%
	
	.two
		img
			left: 2%
			top: 0
			width: 20%
			
			+below(700px)
				left: 0
				width: 60%
			
	.three
		video
			left: 1%
			top: 40%
			width: 20%
			
			+below(700px)
				left: 10%
				width: 60%
			
	.four
		img
			right: 5%
			top: 10%
			width: 22%

			+below(700px)
				top: 3%
				width: 52%
	
	.five
		video
			right: 20%
			top: 25%
			width: 18%
			
			+below(700px)
				right: 0%
				top: 55%
				width: 48%
	
	.six
		img
			left: 70%
			top: 50%
			width: 20%
			
			+below(700px)
				right: 0%
				top: 50%
				width: 60%
			
	.seven
		img
			width: 25%
			top: 27%
			left: 40%
			
			+below(700px)
				right: 45%
				top: 10%
				width: 30%
			
	.eight
		img
			width: 25%
			top: 48%
			left: 20%
			
			+below(700px)
				width: 45%
				top: 30%
				left: 5%
	
	.image-wrap
		width: 50%

		path
			fill: black

		.strike
			background: black
			top: 59%

#no-trainers-wrap
	height: 1000vh
			
	.one
		img
			left: 25%
			top: 8%
			width: 17%
			
			+below(700px)
				top: 4%
				left: 30%
				width: 55%
	
	.two
		img
			left: 2%
			top: 0
			width: 20%
			
			+below(700px)
				left: 0
				width: 60%
			
	.three
		video
			left: 1%
			top: 40%
			width: 20%
			
			+below(700px)
				left: 10%
				width: 60%
			
	.four
		img
			right: 5%
			top: 10%
			width: 22%

			+below(700px)
				top: 3%
				width: 52%
	
	.five
		video
			right: 20%
			top: 25%
			width: 18%
			
			+below(700px)
				right: 0%
				top: 55%
				width: 48%
	
	.six
		img
			left: 40%
			top: 20%
			width: 20%
			
			+below(700px)
				right: 0%
				top: 50%
				width: 60%
			
	.seven
		img
			width: 25%
			top: 42%
			left: 70%
			
			+below(700px)
				right: 45%
				top: 10%
				width: 30%
			
	.eight
		img
			width: 25%
			top: 40%
			left: 25%
			
			+below(700px)
				width: 45%
				top: 30%
				left: 5%
	
	.nine
		video
			width: 25%
			top: 50%
			right: 30%
			
			+below(700px)
				width: 65%
	
	.image-wrap
		width: 60%

		path
			fill: white

		.strike
			background: white
			top: 59%

.section-wrap
	position: relative
	height: 900vh
	overflow: hidden
	
	.svg-wrap
		z-index: 100
		top: 0
		left: 0
		display: flex
		
		.image-wrap
			margin: auto
			position: relative
	
			svg
				max-width: 100%
				margin: auto
				
			.strike
				height: 2vmax
				position: absolute
				width: 120%
				left: -10%

	.image-stack
		z-index: 120
		width: 100%
		height: 100vh
		transform: translateY(100%)
		position: fixed
		top: 0
		left: 0
		overflow: hidden
		
		img, video
			width: 30%
			position: absolute

@supports(position: sticky)
	.section-wrap
		height: auto
		overflow: visible

		.svg-wrap
			position: sticky
		
		.image-stack
			transform: translateY(0%)
			position: sticky
			overflow: visible
	
	#no-trainers-wrap
		height: auto

#shop-now
	.bg-type
		height: 50%
		top: 20%
		
		.type-band
			height: 50%
	
			.type
				background-image: url('/assets/images/shop-now-combo.svg')

	.ticker
		color: white
		overflow: hidden
		position: absolute
		bottom: 15%
		left: 0
		width: 100%

		.ticker-text
			padding-left: 100%
			width: auto
			white-space: nowrap
			display: inline-block
			font-family: Druk
			font-size: 10vh
			text-transform: uppercase
			letter-spacing: 0.03em
			
		&.animated
			.ticker-text
				animation: marquee 30s linear infinite
		